html, body {
    background-color: #283048;
    height: 100%;
    margin: 0px;
    font-family: Roboto;
}

.container {
    background-color: white;
    height: 100%;
    padding: 1%;
}


#tbl_container{
    overflow:scroll;
    height: 70%;
}