.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 350px;
    background-color: #616161;
    border-radius: 3px;
}

.todo-logo{
    background-color: #d2fd00;
}

.main-message{
    font-size: 1.80rem;
    font-weight: 200;
    color: white;
}

.login-message{
    font-size: 1.1rem;
    font-weight: 100;
    color: white;
}